.comments{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.comments-container{
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.img-comment{ 
    width: 80%;
    height: 150px
}

@media (max-width: 450px) {
    .img-comment{
        height: 100px
    }
}