.comments{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.progressbar{
    color: rgb(234, 234, 234);
    font-weight: bold;
    background-color: #1e618a !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.comments-container{
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.img-comment{ 
    width: 80%;
    height: 150px
}

@media (max-width: 450px) {
    .img-comment{
        height: 100px
    }
}