.information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 0px !important;
}

.information-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form{
    position: relative;
}

.form span{
    position: absolute;
    right: 17px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   padding-left: 10px;
}

.form-input{
    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{
    box-shadow: none;
    border:none;
}

@media (max-width: 450px) {
    .information{
        text-align: center;
    }
    .benefits{
        text-align: center;
    }
    .benefits ul{
        list-style-position: inside;
    }
}